.white {
    color: #222222
}

.icon {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bannerContainer {
    padding: 10% 15%;
    background-color: rgb(219, 219, 219);
}

.banner {
    margin: 0 20%;
}

.fadedBlue {
    color: hsl(0, 0%, 59%)
}

.bannerItem {
    width: 10px !important;
}

.bannerText {
    margin-top: 3rem;
}

.slanted {
    height: 43rem;
}

.content {
    margin: 3rem 20% !important;
}

.heading {
    color: rgb(46, 46, 46);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0%;
}

.subheading {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0%;
}

.detail {
    max-width: 35rem;
}

.detail .textblock {
    margin-top: 2rem;
}

.explanation {
    font-weight: 400;
}

.introduction {
    width: 80%;
}

.content h3 {
    text-align: center;
    text-decoration: underline;
}

.featureIcon {
    margin-bottom: 1rem;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.feature {
    text-align: center;
    min-height: 200px;
}

.featuresSection {
    padding: 1rem;
    background-color: rgb(219, 219, 219);
}

@media (max-width: 768px) {
    .banner {
        margin: 20% 10%;
    }
    .bannerText {
        margin-top: 0rem;
    }
    .icon {
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    img {
        margin-top: 2rem;
        width: 100%;
    }
    .feature {
        margin-bottom: 2rem;
    }
}