.icon {
    border-radius: 50% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
}

.bannerContainer {
    padding: 10% 15%;
    background-color: #3e4247;
    vertical-align: middle;
}

.banner {
    margin: 0 20%;
}

.faded {
    color: rgb(255, 255, 255, 0.6);
}

.bannerItem {
    text-align: center;
}

.bannerText {
    margin-top: 3rem;
}

.slanted {
    height: 43rem;
}

.content {
    margin-top: 7rem !important;
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center;
    justify-content: center;
}

.heading {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0%;
}

.subheading {
    color: rgb(255, 255, 255, 0.6);
    font-weight: 325;
    font-size: 20px;
    margin-bottom: 0%;
}

.mainBody {
    margin-bottom: 10rem;
}

.premiumHeader {
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 10rem;
}

.detail {
    max-width: 50rem !important;
    margin-right: auto;
    margin-left: auto;
}

.discordAdd {
    background-color: #5877e7 !important;
    font-weight: bold !important;
    height: 3rem;
}

.explanation {
    color: rgb(255, 255, 255, 0.6);
    font-weight: 400;
}

.introduction {
    width: 80%;
}

.content h2 {
    margin-bottom: 2rem;
    text-align: center;
    color: rgb(255, 255, 255, 1);
}

.featureIcon {
    margin-bottom: 1rem;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.feature {
    border-radius: 10px;
    min-height: 200px;
}

.featuresSection {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: #2c2f33;
}

.navbarButton {
    background-color: #3e4247 !important;
    border-style: none;
    border-color: #3e4247 !important;
}

.navbar {
    background-color: #3e4247;
}

.showcase {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 600px) {
    .bannerContainer {
        padding: 10% 10%;
    }
    .banner {
        margin: 20% 0%;
    }
    .bannerText {
        margin-top: 0rem;
    }
    .content {
        margin: 5rem 10% 0 10% !important;
    }
    .icon {
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    img {
        margin-top: 2rem;
        width: 100%;
    }
    .avatar {
        margin-top: 0;
    }
    .feature {
        margin-bottom: 2rem;
    }
}