body {
    /* -webkit-transform: skewy(-3deg);
    transform: skewy(-3deg); */
    background-color: #2c2f33 !important;
}

.dropdown-menu {
    background-color: #2c2f33 !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #212325 !important;
}

h1 {
    color: white !important;
}

a {
    text-decoration: none !important;
    color: white !important;
}

a:hover {
    text-decoration: none !important;
}

.white {
    color: #fff !important;
}

.red {
    color: rgb(241, 52, 52) !important;
}

ul {
    list-style-position: inside;
}